.pagination {
  margin: 10px 0;
}

.pagination li {
  display: inline;
}

.pagination-link {
  padding: 5px 5px;
  border: 1px solid #838383;
  margin-right: 5px;
  border-radius: 3px;
}

.pagination-link.current {
  background: #2c3531;
  color: whitesmoke;
}

.pagination-link:hover {
  border: 1px solid #000;
}

